@model IEnumerable<ASPNETCoreMVC.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<style>
    a {
        padding: 5px;
        margin: 5px;
        color: white;
    }
    .main-div {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
</style>
<div class="text-center main-div">
    <h3>Dominando o ASP.NET Core MVC</h3>
    @(await Component.InvokeAsync("SocialLinks", new { IconsToShow = 5 }))
</div>

<p style="float:right">
    <a class="btn btn-primary" asp-action="Create"><spam class="fa fa-plus"></spam> Novo</a>
</p>

<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Imagem</th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="/images/@item.Imagem" style="height: 100px; width: 61px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <botao tipo-botao="Detalhes" route-id="@item.Id"></botao>
                    <botao tipo-botao="Editar" route-id="@item.Id"></botao>
                    <botao tipo-botao="Excluir" route-id="@item.Id"></botao>
                </td>
            </tr>
        }
    </tbody>
</table>

<vc:counter modelcounter="@Model.Count()"></vc:counter>
@* @await Component.InvokeAsync("Counter", Model.Count()) *@

